#root {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background: #DDDDDD;
}

h1 {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
}

.signup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.signup button {
  width: 111px;
  height: 32px;
  align-self: flex-end;
  text-transform: uppercase;
  background: #7695EC;
  color: #FFFFFF;
  border-radius: 0.5rem;
  cursor: pointer;
  border: #7695EC;
}

.signup .deactived {
  background: gray;
}

.signup input {
  box-sizing: border-box;
  border: 1px solid #777777;
  border-radius: 0.5rem;
  padding: 0.5rem 11.2px ;
  height: 32px;
}